torch==1.5
torchvision==0.6
cython
pyyaml==5.1
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/facebookresearch/fvcore.git
yacs
